/* .p-container{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-auto-rows: 500px;
    padding: 30px;
    grid-gap: 50px;
    justify-content: center;
    font-family: 'Nunito sans';
}

.p-item{
    position: relative;
    margin: 30px;
}

.p-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    transition: all 0.8s ease;
    cursor: pointer;
}

.p-img:hover{
    transition: all 0.6s ease;
    filter: brightness(30%);
}

.p-title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(160deg, #aeaeae 0%, #e4e4e4 100%);
    border-radius: 20px;
}

.p-btn{
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    color: #ffffff;
    font-size: 17px;
    padding: 7px;
    text-decoration: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 1px 5px #1f1d1f;
    -moz-box-shadow: 0px 1px 5px #1f1d1f;
    box-shadow: 0px 1px 5px #1f1d1f;
    text-shadow: 1px 1px 3px #dedede;
    border: solid #2e2d2e 2px;
    background: #000000;
}

.p-btn:hover{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#575757), to(#0a0a0a));
    background: -moz-linear-gradient(top, #575757, #0a0a0a)
}

.shadow {
    margin-top: 40px;
    border-bottom: 1px solid #b8b6b6;
    box-shadow: 0 2px 2px 0 rgba(50, 50, 50, 0.15);
}

.search-input {
    width: 100%;
}

.p-container {
    grid-gap: 15px;
    padding: 0px;
}

.class {
    display: flex;
    justify-content: center;
}


@media (max-width: 1040px) {
    .p-container {
        grid-template-columns: repeat(2, 300px);

    }

    .p-container .p-item {
        margin: 30px;
    }

    .p-container .p-title {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .p-container {
        grid-template-columns: repeat(2, 300px);

    }

    .p-container .p-item {
        margin: 30px;
    }

    .p-container .p-title {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .p-container {
        grid-template-columns: repeat(1, 300px);

    }

    .p-container .p-item {
        margin: 30px;
    }

    .p-container .p-title {
        font-size: 16px;
    }
}

@media (max-width: 465px) {
    .p-container {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        padding: 15px;
    }
    .productos-titulo{
        h2 {
            font-size: 16px;
            letter-spacing: 1px;

            h2::after,
            h2::before {
                content: '';
                position: absolute;
                width: 80px;
                height: 3px;
                background-color: black;
                top: 0.6em;
            }

            h2::before {
                left: -100px;
            }

            h2::after {
                right: -100px;
            }
        }
    }
} */




.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #E84C3D;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #2D3E50;

	color: #fff;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}